/* Base styles for single, page, indexes
------------------------------------------------*/

article header {
    margin-bottom: 2em;
}

hr {
    border: 2px #ddd solid;
}

#content {

    p {
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: 1em;
        font-weight: 300;
    }

    ul, ol {
        list-style-type: disc;
        margin-left: 50px;
    }

    li {
        margin-bottom: 1em;
    }

    blockquote, q {
        margin-left: 40px;
        border-left: 4px #ababab solid;
        padding-left: 10px;
        color: #555;
    }

    .entry-title {
        margin-bottom: 5px;
    }

    h1.entry-title {

        a {
            text-decoration:none;
            color:#000;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h2.entry-title {

    }

    .post-edit-link {
        position: fixed;
        left: 0;
        top: 50%;
        color:#000;
        z-index: 1000;

        @include media($phone...){
            display:none;
        }
    }

    .entry-content {
        margin-bottom: 2em;
    }

    .entry-footer {
        background: #000;
        padding: 20px 0;

        p {
            color:#fff;
            margin:0 10px;

            &:first-of-type {
                margin-bottom: 20px;
            }
        }
    }
}