/* Header styles
------------------------------------------------*/
#header {
	margin-bottom: 3em;	

	nav {
		height: 50px;
    	background: #000;
    	border: #aaa solid 1px;
	}

    .menu-main-menu-container {
    	position: relative;
    	height: inherit;
    }

    ul {
    	display: inline-flex;
    	position: absolute;
    	top: 50%;
        @include simple-transform(null, null, null, -50%);
   	 	width:90%;
   	 	margin:0 5%;
    }

    ul li {
    	flex-grow:1;
    	text-align: center;

    	a {
    		color:#fff;
    		text-decoration: none;
    		text-transform: uppercase;

    		&:hover {
    			color:$links;
    		}
    	}
    }

}

