/* Header styles
------------------------------------------------*/
#header {
	margin-bottom: 3em;	
    position: relative;
	height:250px;

    #burger {
        display: none;
        position:absolute;
        top:0;
        font-size: 2rem;
        left:10px;
        cursor: pointer;
        z-index: 100;

        i {
            color:#fff;
        }

        @include media($phone...){
            display:block;
            top:50%;
            @include simple-transform(null,null,null,-50%);
        }

        @include media($tablet...){
            display:block;
            top:50%;
            @include simple-transform(null,null,null,-50%);
        }
    }

	#branding {
		position:absolute;
        height: 200px;
        width: 100%;		

        #site-title {
        	position:absolute;
        	top: 50%;
        	@include simple-transform(null, null, null, -50%);
    		width: 100%;
    		height:200px;
            

    		&>div {
    			position:absolute;
                left:13%;
                width:80%;
    		}

        	&>div:first-of-type {
	        	text-transform: uppercase;
   				font-size: 2em;
   				top:40%;
   				display: inline;
        		@include simple-transform(null, null, null, -40%);
        		font-weight: 700;
        		color:#fff;
        		background:$links;
	        }

	        &>div:last-of-type {
                color:#000;
   				font-size: 1.7em;
   				top:65%;
        		@include simple-transform(null, null, null, -65%);
                font-weight:300;  
                text-align:right; 

                @include media($phone...){
                    display:none;
                }
	        }
        }

        
    	
		img {
			max-width:300px;
            position: absolute;
            left: 10%;
            @include simple-transform(null, null, -10%);
		}
	}

	nav {
		height: 50px;
    	background: #000;
    	border: #aaa solid 1px;
    	position: absolute;
    	bottom: 0;
    	width: 100%;
	}

    .menu-main-menu-container {
    	position: relative;
    	height: inherit;

        @include media($phone...){
            display:none;
            position: absolute;
            left: 0;
            width: 60%;
            background: #000;
            max-width: 225px;
            top: 49px;
            z-index:99;
        }

        @include media($tablet...){
            display:none;
            position: absolute;
            left: 0;
            width: 60%;
            background: #000;
            max-width: 225px;
            top: 49px;
            z-index:99;
        }
    }

    ul {
    	display: inline-flex;
    	position: absolute;
    	top: 50%;
        @include simple-transform(null, null, null, -50%);
   	 	width:90%;
   	 	padding:0 5%;
        background:#000;

        @include media($phone...){
            display: block;
            position: relative;
            top: 0;
            @include simple-transform(null, null, null, 0);
        }

        @include media($tablet...){
            display: block;
            position: relative;
            top: 0;
            @include simple-transform(null, null, null, 0);
        }
    }

    ul li {
    	flex-grow:1;
    	text-align: center;

        @include media($phone...){
            flex-grow:0;
            text-align: left;
            padding-bottom: 15px;
        }

        @include media($tablet...){
            flex-grow:0;
            text-align: left;
            padding-bottom: 15px;
        }

    	a {
    		color:#fff;
    		text-decoration: none;
    		text-transform: uppercase;

    		&:hover {
    			color:$links;
    		}
    	}
    }

}

