/* Home Page Styles
------------------------------------------------*/
#home-top {
    overflow: hidden;
}

#home-top-left {
    width: 65%;
    float: left;

    .entry-title {
        margin-top:0;

        span {
            font-size: 2rem;
            color:$links;
        }
    }
}

#home-top-right {
    width:30%;
    float: right;
    border:2px #000 solid;

    &>div:first-of-type {
        background: #000;
        color: #fff;
        padding: 10px;

        h3:first-of-type {
            color:$links;
            text-transform: uppercase;
            margin-bottom:5px;
        }

        h3:last-of-type{
            font-weight: 400;
        }
    }

    &>div:last-of-type {
        margin-top: 1em;
        p {
            padding: 0 10px;
        }
    }
}


.video-player {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.video-player img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.video-player .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.video-player .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.video-player img,
.video-player iframe,
.video-player .play-button,
.video-player .play-button:before {
    position: absolute;
}
.video-player .play-button,
.video-player .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.video-player iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

